 .u-section-1 {
  background-image: none;
  min-height: 2906px;
}

.u-section-1 .u-slider-1 {
  min-height: 736px;
  margin-top: 56px;
  margin-bottom: 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 5px 5px 0;
}

.u-section-1 .u-image-2 {
  background-image: url("/images/IMG_1664.JPG");
  margin-top: 0;
  margin-bottom: 0;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-1 .u-image-3 {
  background-image: url("/images/IMG_4404.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-1 .u-image-4 {
  background-image: url("/images/20201114_105724.jpg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-image-5 {
  background-image: url("/images/_MG_2394.JPG");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 50px 20px;
}

.u-section-1 .u-carousel-control-1 {
  width: 40px;
  height: 40px;
  left: -6px;
  position: absolute;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  width: 40px;
  height: 40px;
  left: auto;
  position: absolute;
  right: 0;
}

.u-section-1 .u-text-1 {
  font-family: "Titillium Web", sans-serif;
  font-weight: normal;
  margin: 50px calc(((100% - 1140px) / 2) + 64px) 0;
}

.u-section-1 .u-line-1 {
  width: 912px;
  height: 3px;
  transform-origin: center top 0px;
  margin: 30px auto 0 calc(((100% - 1140px) / 2) + 114px);
}

.u-section-1 .u-list-1 {
  width: 1217px;
  margin: -9px auto 0 calc(((100% - 1140px) / 2) + -38px);
}

.u-section-1 .u-repeater-1 {
  min-height: 171px;
  grid-template-columns: calc(25% - 133.5px) calc(25% - 133.5px) calc(25% - 133.5px) calc(25% - 133.5px);
  grid-gap: 178px 178px;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px 0;
}

.u-section-1 .u-image-6 {
  height: 79px;
  width: 79px;
  margin: 36px auto 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px 0;
}

.u-section-1 .u-image-7 {
  height: 79px;
  width: 79px;
  margin: 36px auto 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 10px 0;
}

.u-section-1 .u-image-8 {
  height: 79px;
  width: 79px;
  margin: 36px auto 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 10px 0;
}

.u-section-1 .u-image-9 {
  height: 79px;
  width: 79px;
  margin: 36px auto 0;
}

.u-section-1 .u-list-2 {
  width: 1225px;
  margin: -9px auto 0;
}

.u-section-1 .u-repeater-2 {
  min-height: 135px;
  grid-template-columns: calc(25% - 129.75px) calc(25% - 129.75px) calc(25% - 129.75px) calc(25% - 129.75px);
  grid-gap: 173px 173px;
}

.u-section-1 .u-list-item-5 {
  background-size: auto;
}

.u-section-1 .u-container-layout-10 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: normal;
  margin: -2px -20px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  font-style: normal;
  margin: 25px 3px 0 0;
}

.u-section-1 .u-list-item-6 {
  background-size: auto;
}

.u-section-1 .u-container-layout-11 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: normal;
  margin: -2px -20px 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  font-style: normal;
  margin: 25px 3px 0 0;
}

.u-section-1 .u-list-item-7 {
  background-size: auto;
}

.u-section-1 .u-container-layout-12 {
  padding: 0;
}

.u-section-1 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: normal;
  margin: -2px -20px 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.125rem;
  font-style: normal;
  margin: 25px 3px 0 0;
}

.u-section-1 .u-list-item-8 {
  background-size: auto;
}

.u-section-1 .u-container-layout-13 {
  padding: 0;
}

.u-section-1 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: normal;
  margin: -2px -20px 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.125rem;
  font-style: normal;
  margin: 25px 3px 0 0;
}

.u-section-1 .u-list-3 {
  width: 1205px;
  margin: 44px auto 0;
}

.u-section-1 .u-repeater-3 {
  min-height: 171px;
  grid-template-columns: calc(25% - 144px) calc(25% - 144px) calc(25% - 144px) calc(25% - 144px);
  grid-gap: 192px 192px;
}

.u-section-1 .u-container-layout-14 {
  padding: 10px;
}

.u-section-1 .u-image-10 {
  height: 78px;
  width: 78px;
  margin: 36px auto 0;
}

.u-section-1 .u-container-layout-15 {
  padding: 10px;
}

.u-section-1 .u-image-11 {
  height: 78px;
  width: 78px;
  margin: 36px auto 0;
}

.u-section-1 .u-container-layout-16 {
  padding: 10px;
}

.u-section-1 .u-image-12 {
  height: 78px;
  width: 78px;
  margin: 36px auto 0;
}

.u-section-1 .u-container-layout-17 {
  padding: 10px;
}

.u-section-1 .u-image-13 {
  height: 78px;
  width: 78px;
  margin: 36px auto 0;
}

.u-section-1 .u-repeater-4 {
  min-height: 170px;
  grid-auto-columns: calc(25% - 135px);
  grid-template-columns: calc(25% - 135px) calc(25% - 135px) calc(25% - 135px) calc(25% - 135px);
  grid-gap: 180px 180px;
  height: 170px;
  width: 11px;
  margin: 17px auto 0 calc(((100% - 1140px) / 2) + 69px);
}

.u-section-1 .u-container-layout-18 {
  padding: 10px;
}

.u-section-1 .u-container-layout-19 {
  padding: 10px;
}

.u-section-1 .u-container-layout-20 {
  padding: 10px;
}

.u-section-1 .u-container-layout-21 {
  padding: 10px;
}

.u-section-1 .u-list-4 {
  width: 1225px;
  margin: -187px auto 0;
}

.u-section-1 .u-repeater-5 {
  min-height: 135px;
  grid-template-columns: calc(25% - 129.75px) calc(25% - 129.75px) calc(25% - 129.75px) calc(25% - 129.75px);
  grid-gap: 173px 173px;
}

.u-section-1 .u-container-layout-22 {
  padding: 0;
}

.u-section-1 .u-text-10 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0 -20px;
}

.u-section-1 .u-text-11 {
  font-size: 1.125rem;
  font-style: normal;
  margin: 23px 3px 0 0;
}

.u-section-1 .u-container-layout-23 {
  padding: 0;
}

.u-section-1 .u-text-12 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0 -20px;
}

.u-section-1 .u-text-13 {
  font-size: 1.125rem;
  font-style: normal;
  margin: 23px 3px 0 0;
}

.u-section-1 .u-container-layout-24 {
  padding: 0;
}

.u-section-1 .u-text-14 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0 -20px;
}

.u-section-1 .u-text-15 {
  font-size: 1.125rem;
  font-style: normal;
  margin: 23px 3px 0 0;
}

.u-section-1 .u-container-layout-25 {
  padding: 0;
}

.u-section-1 .u-text-16 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0 -20px;
}

.u-section-1 .u-text-17 {
  font-size: 1.125rem;
  font-style: normal;
  margin: 23px 3px 0 0;
}

.u-section-1 .u-image-14 {
  width: 570px;
  height: 399px;
  margin: 72px calc(((100% - 1140px) / 2) + -145px) 0 auto;
}

.u-section-1 .u-image-15 {
  width: 610px;
  height: 399px;
  margin: -415px calc(((100% - 1140px) / 2) + 223px) 0 auto;
}

.u-section-1 .u-image-16 {
  width: 606px;
  height: 366px;
  margin: -362px auto 0 calc(((100% - 1140px) / 2) + -115px);
}

.u-section-1 .u-text-18 {
  text-align: center;
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 1.5rem;
  margin: 50px calc(((100% - 1140px) / 2) + 601px) 0 calc(((100% - 1140px) / 2) + 128px);
}

.u-section-1 .u-table-1 {
  width: 400px;
  margin: -29px calc(((100% - 1140px) / 2) + -14px) 0 auto;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 0.6;
}

.u-section-1 .u-table-cell-2 {
  background-image: none;
}

.u-block-03fb-254 {
  height: 46px;
}

.u-section-1 .u-shape-1 {
  background-image: none;
  height: 0;
  width: calc(((100% - 1140px) / 2) + 570px);
  margin: -112px auto 0 0;
}

.u-section-1 .u-text-19 {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 1.25rem;
  margin: 13px calc(((100% - 1140px) / 2) + 702px) 0 calc(((100% - 1140px) / 2) + 229px);
}

.u-section-1 .u-image-17 {
  width: 281px;
  height: 281px;
  margin: -13px auto 0;
}

.u-section-1 .u-table-2 {
  width: 400px;
  margin: -256px auto 0 calc(((100% - 1140px) / 2));
}

.u-block-03fb-264 {
  height: 46px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.6876em;
}

.u-block-03fb-275 {
  height: 46px;
}

.u-section-1 .u-text-20 {
  text-align: center;
  font-family: FontsFree-Net-PlaylistScript;
  font-weight: 400;
  font-size: 3.125rem;
  width: 508px;
  margin: 415px auto 32px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-slider-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-line-1 {
    margin-left: calc(((100% - 940px) / 2) + 28px);
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    min-height: 159px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-6 {
    width: 88px;
    height: 88px;
    margin-top: 23px;
    margin-left: 12px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-7 {
    width: 88px;
    height: 88px;
    margin-top: 23px;
    margin-left: 12px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-8 {
    width: 88px;
    height: 88px;
    margin-top: 23px;
    margin-left: 12px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-list-2 {
    width: 940px;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 167px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 12px;
    margin-left: -56px;
    margin-right: -56px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 40px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 12px;
    margin-left: -56px;
    margin-right: -56px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 40px;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 12px;
    margin-left: -56px;
    margin-right: -56px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 40px;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }

  .u-section-1 .u-list-3 {
    width: 940px;
  }

  .u-section-1 .u-repeater-3 {
    min-height: 136px;
  }

  .u-section-1 .u-repeater-4 {
    margin-top: 84px;
    margin-left: calc(((100% - 940px) / 2) + 69px);
    min-height: NaNpx;
  }

  .u-section-1 .u-list-4 {
    width: 940px;
    margin-top: -170px;
  }

  .u-section-1 .u-repeater-5 {
    min-height: 138px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-right: 0;
  }

  .u-section-1 .u-image-14 {
    margin-right: calc(((100% - 940px) / 2) + -145px);
  }

  .u-section-1 .u-image-15 {
    margin-right: calc(((100% - 940px) / 2) + 223px);
  }

  .u-section-1 .u-image-16 {
    margin-left: calc(((100% - 940px) / 2) + -115px);
  }

  .u-section-1 .u-text-18 {
    margin-right: calc(((100% - 940px) / 2) + 501px);
    margin-left: calc(((100% - 940px) / 2) + 28px);
  }

  .u-section-1 .u-table-1 {
    margin-top: -33px;
    margin-right: calc(((100% - 940px) / 2) + -14px);
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 470px);
    margin-top: -117px;
  }

  .u-section-1 .u-text-19 {
    margin-top: -23px;
    margin-right: calc(((100% - 940px) / 2) + 602px);
    margin-left: calc(((100% - 940px) / 2) + 129px);
  }

  .u-section-1 .u-image-17 {
    margin-top: -138px;
  }

  .u-section-1 .u-table-2 {
    margin-top: -186px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-20 {
    margin-top: 94px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-line-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    min-height: 404px;
    grid-template-columns: calc(50% - 89.0002px) calc(50% - 89.0002px);
  }

  .u-section-1 .u-list-2 {
    width: 720px;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 261px;
    grid-template-columns: calc(50% - 86.5px) calc(50% - 86.5px);
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-3 {
    width: 720px;
  }

  .u-section-1 .u-repeater-3 {
    grid-template-columns: calc(50% - 96px) calc(50% - 96px);
    min-height: 417px;
  }

  .u-section-1 .u-repeater-4 {
    grid-auto-columns: calc(50% - 90px);
    grid-template-columns: calc(50% - 90px) calc(50% - 90px);
    margin-top: -240px;
    margin-left: calc(((100% - 720px) / 2) + 69px);
  }

  .u-section-1 .u-container-layout-18 {
    padding: 0;
  }

  .u-section-1 .u-container-layout-19 {
    padding: 0;
  }

  .u-section-1 .u-container-layout-20 {
    padding: 0;
  }

  .u-section-1 .u-container-layout-21 {
    padding: 0;
  }

  .u-section-1 .u-list-4 {
    width: 720px;
    margin-top: 154px;
  }

  .u-section-1 .u-repeater-5 {
    min-height: 423px;
    grid-template-columns: calc(50% - 86.5px) calc(50% - 86.5px);
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-14 {
    margin-right: calc(((100% - 720px) / 2) + -145px);
  }

  .u-section-1 .u-image-15 {
    margin-right: calc(((100% - 720px) / 2) + 110px);
  }

  .u-section-1 .u-image-16 {
    margin-left: calc(((100% - 720px) / 2) + -115px);
  }

  .u-section-1 .u-text-18 {
    margin-right: calc(((100% - 720px) / 2) + 309px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-table-1 {
    margin-right: calc(((100% - 720px) / 2) + -14px);
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 360px);
  }

  .u-section-1 .u-text-19 {
    margin-right: calc(((100% - 720px) / 2) + 492px);
    margin-left: calc(((100% - 720px) / 2) + 19px);
  }

  .u-section-1 .u-table-2 {
    margin-top: -246px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-20 {
    margin-top: 154px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 2864px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-line-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-list-2 {
    width: 540px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-list-3 {
    width: 540px;
  }

  .u-section-1 .u-repeater-3 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-repeater-4 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
    margin-top: -892px;
    margin-left: calc(((100% - 540px) / 2) + 69px);
  }

  .u-section-1 .u-list-4 {
    width: 540px;
    margin-top: 806px;
  }

  .u-section-1 .u-repeater-5 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-14 {
    margin-right: calc(((100% - 540px) / 2) + -145px);
  }

  .u-section-1 .u-image-15 {
    width: 540px;
    height: 353px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-16 {
    margin-top: -316px;
    margin-left: calc(((100% - 540px) / 2) + -115px);
  }

  .u-section-1 .u-text-18 {
    margin-right: calc(((100% - 540px) / 2) + 129px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-table-1 {
    margin-right: calc(((100% - 540px) / 2) + -14px);
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 270px);
  }

  .u-section-1 .u-text-19 {
    margin-right: calc(((100% - 540px) / 2) + 331px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-table-2 {
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 2402px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-line-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-list-2 {
    width: 340px;
  }

  .u-section-1 .u-list-3 {
    width: 340px;
  }

  .u-section-1 .u-repeater-4 {
    grid-auto-columns: 100%;
    margin-left: calc(((100% - 340px) / 2) + 69px);
  }

  .u-section-1 .u-list-4 {
    width: 340px;
  }

  .u-section-1 .u-image-14 {
    width: 340px;
    height: 238px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-15 {
    width: 340px;
    height: 222px;
    margin-top: -254px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-16 {
    width: 340px;
    height: 205px;
    margin-top: -185px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-18 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-table-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 270px);
  }

  .u-section-1 .u-text-19 {
    margin-right: calc(((100% - 340px) / 2) + 131px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-table-2 {
    width: 340px;
    margin-top: -267px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-20 {
    font-size: 1.875rem;
    width: 340px;
    margin-top: 175px;
  }
}@font-face {
  font-family: 'FontsFree-Net-PlaylistScript';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/FontsFree-Net-PlaylistScript.ttf);
}